.signuptop-form {
  background: green;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
}
.signup-form {
    width: 40%;
    margin: 0% 0% 3% 30%;
    box-shadow: 1px 0px 2px 0px black;
    margin-top: -15%;
    border-radius: 7%;
    height: 78vh;
    text-align: center;
}
.register {
  text-align: center;
}

.add-trans{
    float: right;
    margin: 30% 30% 30% 75%;
    position: fixed;
   font-size:40px;
   width: 70px;
   height: 70px;
   text-align: center;
   

   }
   .menu-icon :hover{

    color:green;
   }
   

.modal-container{
    width: 80%;
    background:red;
}
   

.signup-header {
  text-align: left;
  color: white;
}
.signin-form {
  width: 40%;
  margin: 0% 0% 3% 30%;
  box-shadow: 1px 0px 2px 0px black;
  margin-top: -15%;
  border-radius: 7%;
  height: 60vh;
  text-align: center;
}

.login-form-button {
  color: white;
  background: green;
  margin-right: 20px;
  width: 130px;
}
.login-form-button:hover {
  opacity: 0.7;
  color: white;
  background: green;
}
.logout-form-button {
    color: white;
    background: green;
    width: 100px;
    margin: 0% 30% 30% 90%;
  }
  .logout-form-button:hover {
    opacity: 0.7;
    color: white;
    background: green;
  }
 .add-button{
   
}
 .add-button:hover {
    opacity: 0.7;
    color: white;
    background: green;

 }
.home-layout {
  background: url("../Assets/image.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  opacity: 0.7 black;
}
.home {
  margin-left: 1000px;
  margin-top: -40px;
  color: white;
}
.middle-paragraphy {
  /* margin-top: 70px; */
  color: white;
  /* margin-left: 500px; */
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
.about-paragraphy {
  margin-top: 100px;
  color: white;
  /* margin-left: 370px; */
  font-size: 30px;
  font-weight: 60px;
}

.about-us {
  margin: 30px 40px 30px;
}
.footer {
  background-color: green;
  height: 15vh;
  padding: 25px;
  width: 100%;
}
.foot {
  margin-left: 100px;
}
.home-button {
  /* margin-top: 15%; */
  margin: 0% 0% 0% 45% ;
  /* background-color: white; */
  background: green;
  color: white;
  width: 150px;
  height: 70px;
}
.siderIcon {
  margin-top: 20%;
}
/* .head-button{
    margin-left:87%;
}*/
.searchIcon {
  margin-left: -1%;
  /* margin-top: -700px; */
}
.headerIcon {
  margin-left: 85%;
}
.feet {
  margin-left: 950px;
  margin-top: 30vh;
}



.siderIcon {
  margin-top: 40%;
  margin: 30%;
}

   
  
  
