.signuptop-form{

    background:green;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:50vh;
    
}
.signup-form{
    width: 40%;
    margin: 0% 3% 3% 30%;
    box-shadow: 1px 0px 2px 0px black;
    margin-top: -10%;
    border-radius: 10%;
   
    
}
.register{
    text-align: center;
}
.signup-header{
    text-align: center;
    color: white;
}
.signin-form{
    width: 50%;
    margin: 0% 3% 3% 30%;
    box-shadow: 1px 0px 2px 0px black;
    margin-top: -10%;
    border-radius: 7%;
    height: 70vh;
    text-align: center;
  

}

.login-form-button{
    color:white;
    background:green;
    margin-right: 20px;
}
.login-form-button:hover{
    opacity: 0.7;
    color:white;
    background:green
}